<a href="https://colab.research.google.com/github/priyansh1997/AlmaBetter/blob/main/Priyansh_Tripathi_EDA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1 Importing Libraries
These libraries will be used for Exploratory Data Analysis.

In [173]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [174]:
# Removing warnings
# import warnings
# warnings.filterwarnings("ignore")

# 1.2 Data Loading
Loading the dataset from google drive.

In [175]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [176]:
play_store_df=pd.read_csv('/content/drive/MyDrive/datasets/Play Store Data.csv')
user_reviews_df=pd.read_csv('/content/drive/MyDrive/datasets/User Reviews.csv')

# 1.3 Data Inspection
Inspection of the data contains information about the data, head/tail part, description of dataset, shape etc.

In [177]:
play_store_df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [178]:
user_reviews_df.head()

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

In [179]:
play_store_df.shape

(10841, 13)

In [180]:
user_reviews_df.shape

(64295, 5)

In [181]:
play_store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

Here we are having table showing 13 feature names and the count of non-values present in them. Now we will check each column in data cleaning part.

In [182]:
user_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

Here also in user reviews dataframe we have 5 features with there counts of non-null values.

In [183]:
play_store_df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [184]:
# Checking the column names and removing the spaces so column will be easier to access 
play_store_df.rename(columns={"Content Rating":"Content_Rating", "Last Updated":"Last_Updated", "Current Ver":"Current_Ver", "Android Ver":"Android_Ver"}, inplace=True)

In [185]:
play_store_df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content_Rating', 'Genres', 'Last_Updated', 'Current_Ver',
       'Android_Ver'],
      dtype='object')

In [186]:
user_reviews_df.columns

Index(['App', 'Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity'],
      dtype='object')

Already spaces are replaced by underscores

### 1.3.1 Data Cleaning part for Play store dataframe.

Firstly we will remove the duplicated rows for the play store dataframe.

In [187]:
duplicated_rows_play_store_index=play_store_df[play_store_df.duplicated()].index
print(duplicated_rows_play_store_index)

Int64Index([  229,   236,   239,   256,   261,   265,   266,   267,   268,
              269,
            ...
             8632,  8635,  8636,  8639,  8642,  8643,  8654,  8658, 10049,
            10768],
           dtype='int64', length=483)

In [188]:
play_store_df.drop(duplicated_rows_play_store, inplace=True)
# Dropping the duplicated rows as they were disturbing the data integrity and checking the shape
play_store_df.shape

(10358, 13)

In [189]:
play_store_df.App.isnull().sum()

0

No null values in App feature.

In [190]:
play_store_df.Category.isnull().sum()

0

No null values in Category feature.

In [191]:
# Getting the unique values of category column
play_store_df.Category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

These are all the unique categories of application that we are having in our data.

In [192]:
play_store_df.Rating.isnull().sum()

1465

We are having 1465 null values in rating column which we have to fill or drop out.

In [193]:
print("Minimum rating to an App given:",min(play_store_df.Rating))
print("Maximum rating to an App given:",max(play_store_df.Rating))

Minimum rating to an App given: 1.0
Maximum rating to an App given: 19.0

Max rating of the App can be 5.0

In [194]:
play_store_df[play_store_df.Rating>5]

                                           App Category  ...  Current_Ver Android_Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

We can see this record is manipulated as it has rating more than 5, price is everyone which should be some value, installs is free etc. so we will remove this record.

In [195]:
play_store_df.drop(play_store_df[play_store_df.Rating>5].index,inplace=True)

In [196]:
print("Now maximum rating of an App is:",max(play_store_df.Rating))

Now maximum rating of an App is: 5.0

In [197]:
play_store_df.reset_index(drop=True,inplace=True)

In [198]:
play_store_df.head()

                                                 App  ...   Android_Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [199]:
play_store_df.Rating.isnull().sum()

1465

Still we are having 1465 number of null values in our Rating column.

In [200]:
versions_of_app=play_store_df[play_store_df.App.duplicated(keep=False)].groupby(by=["App"],as_index=False).apply(lambda x: x[:])
versions_of_app

                                                        App  ...         Android_Ver
0   2697                            365Scores - Live Scores  ...          4.1 and up
    4959                            365Scores - Live Scores  ...          4.1 and up
1   1468                                        8 Ball Pool  ...        4.0.3 and up
    1496                                        8 Ball Pool  ...        4.0.3 and up
    1544                                        8 Ball Pool  ...        4.0.3 and up
...                                                     ...  ...                 ...
520 2331                        textPlus: Free Text & Calls  ...          4.1 and up
521 2602  theScore: Live Sports Scores, News, Stats & Vi...  ...          4.4 and up
    2680  theScore: Live Sports Scores, News, Stats & Vi...  ...          4.4 and up
522 3226                     wetter.com - Weather and Radar  ...  Varies with device
    7820                     wetter.com - Weather and Radar  ...  Varies with device

[1221 rows x 13 columns]

In [201]:
versions_of_app[versions_of_app["Rating"].isnull()]

                             App        Category  ...  Current_Ver Android_Ver
48  2222          Blood Pressure         MEDICAL  ...          1.0  2.3 and up
282 23    Mcqueen Coloring pages  ART_AND_DESIGN  ...        1.0.0  4.1 and up
    1878  Mcqueen Coloring pages          FAMILY  ...        1.0.0  4.1 and up

[3 rows x 13 columns]

Checking for the different versions and filling the rating of Applications with there mean.

In [202]:
play_store_df[play_store_df["App"]=='Blood Pressure']

                 App Category  Rating  ...    Last_Updated Current_Ver Android_Ver
2052  Blood Pressure  MEDICAL     4.2  ...   July 24, 2018      3.27.3  4.1 and up
2222  Blood Pressure  MEDICAL     NaN  ...  March 14, 2015         1.0  2.3 and up

[2 rows x 13 columns]

Only 2 versions available so we can fill with the mean of category to which this app belongs.

In [203]:
play_store_df[play_store_df["App"]=='Mcqueen Coloring pages']

                         App        Category  ...  Current_Ver Android_Ver
23    Mcqueen Coloring pages  ART_AND_DESIGN  ...        1.0.0  4.1 and up
1878  Mcqueen Coloring pages          FAMILY  ...        1.0.0  4.1 and up

[2 rows x 13 columns]

Here also only 2 applications are there and they are also present in the different category so we will put catgory wise mean in both.

In rest of the records with null-values in rating column we will fill category wise mean because we don't have different versions of those applications.

In [204]:
play_store_df['Rating'].fillna(play_store_df.groupby('Category')['Rating'].transform('mean'), inplace=True)

In [205]:
# Checking the Reivew column
play_store_df['Reviews']=play_store_df['Reviews'].astype('int')

In [206]:
play_store_df['Size'].unique()[30:70]

array(['9.4M', '15M', '10M', '1.2M', '26M', '8.0M', '7.9M', '56M', '57M',
       '35M', '54M', '201k', '3.6M', '5.7M', '8.6M', '2.4M', '27M',
       '2.5M', '16M', '3.4M', '8.9M', '3.9M', '2.9M', '38M', '32M',
       '5.4M', '18M', '1.1M', '2.2M', '4.5M', '9.8M', '52M', '9.0M',
       '6.7M', '30M', '2.6M', '7.1M', '3.7M', '22M', '7.4M'], dtype=object)

As we can see we have size of the app in Mb's and Kb's we have to convert these into same unit and also remove the unwanted symbols.

In [207]:
play_store_df['Size'] = play_store_df['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)
play_store_df['Size'] = play_store_df['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
play_store_df['Size'] = play_store_df['Size'].apply(lambda x: str(x).replace(',', '') if ',' in str(x) else x)
play_store_df['Size'] = play_store_df['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1024 if 'k' in str(x) else x)
play_store_df['Size'] = play_store_df['Size'].apply(lambda x: str(x).replace('+','') if '+' in str(x) else x)

In [208]:
play_store_df['Size'].dtype

dtype('O')

In [209]:
# Type Casting the Size feature in float64 
play_store_df.Size=play_store_df.Size.astype('float64')

In [210]:
# Checking the data type
play_store_df['Size'].dtype

dtype('float64')

In [211]:
play_store_df['Size'].isnull().sum()

1526

We have 1526 null values filling them with category wise mean of the Size.

In [212]:
play_store_df['Size'].fillna(play_store_df.groupby('Category')['Size'].transform('mean'), inplace=True)

In [213]:
# Checking for the Installs feature
play_store_df.Installs.unique(),len(play_store_df.Installs.unique())

(array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
        '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
        '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
        '10+', '1+', '5+', '0+', '0'], dtype=object), 21)

We can use the Installs columns category wise too and numerical wise too in our EDA section so we will not change it over here.

In [214]:
play_store_df.Type.unique()

array(['Free', 'Paid', nan], dtype=object)

In [215]:
# Type feature null values
play_store_df[play_store_df.Type.isnull()]

                            App  ...         Android_Ver
8667  Command & Conquer: Rivals  ...  Varies with device

[1 rows x 13 columns]

We have only single value so we will fill the Type in this record manually.

In [216]:
play_store_df['Price'].unique()[5:15]

array(['$2.99', '$7.99', '$5.99', '$3.49', '$1.99', '$9.99', '$7.49',
       '$0.99', '$9.00', '$5.49'], dtype=object)

Here we can see $ sign but to make Price column categorical we have to remove it and type cast it to float64.

In [217]:
play_store_df['Price'] = play_store_df['Price'].apply(lambda x: float(str(x).replace('$', '')) if '$' in str(x) else float(x))

In [218]:
# Checking for the rows where Price is 0 and Type is Paid.
play_store_df[(play_store_df["Price"]==0) & (play_store_df["Type"]=="Paid")]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content_Rating, Genres, Last_Updated, Current_Ver, Android_Ver]
Index: []

As we do not have any rows we will fill the single Type record with Nan value manually.

In [219]:
play_store_df["Type"].fillna('Free',inplace=True)

In [220]:
# Type casting the Last_updated column into Date Time Format  
from datetime import datetime
play_store_df["Last_Updated"]=play_store_df["Last_Updated"].apply(lambda x: datetime.strptime(x, "%B %d, %Y"))

In [222]:
print(list(play_store_df.Current_Ver.unique()))

['1.0.0', '2.0.0', '1.2.4', 'Varies with device', '1.1', '1.0', '6.1.61.1', '2.9.2', '2.8', '1.0.4', '1.0.15', '3.8', '1.2.3', nan, '3.1', '2.2.5', '5.5.4', '4.0', '2.2.6.2', '1.1.3', '1.5', '1.0.8', '1.03', '6.0', '6.7.12.2018', '1.2', '2.20', '1.1.0', '1.6', '2.1', '1.0.9', '1.3', '1', '2.0.1', '1.46', '1.6.1', '11.0', '3.0', '1.7.1', '2.5.1', '1.0.1', '2.493', '1.9.1', '1.7', '2.20 Build 02', '1.37', '0.2.1', '4.47.3', '1.9.7', '2.2.21', '2.9', '1.79', '2.3.5.1', '8.31', '1.1.5.0', '10.0.2', '1.10.3', '3.20.1', '1.0.3', '1.4', '4.6.5', '2.8.2', '4.0.3', '1.40', '1.5.18', '2.3.4', '2.17', '6.10.1', '2.3.0', '1.0.6', '1.9', '5.4', '3.0.1', '8.0', '3.3.9', '1.20', '2.3.09', '1.4.2', '18.5', '1.15', '2.0', '1.2.13', '1.0.2.0', '3.1.89', '2.2.0', '1.9.2', '1.3.2', '3.2.1', '2.0.075', '1.911805270', '9.1.363', '1.1.6', '2.3.18', '15.0', '18.05.31+530', '5.0.6', '3.12', '1.28', '6.0.8', '9.00.950462', '14.0', '3.05', '2.5.3', '7.0.4.6', '3.1.7.9', '3.9.1', '3.4.2', '2.19.0.204537701', '9.7.14188', '4.9.10', '5.2.8', '3.3', '3.550.2', '4.6.30', '7.3.21', '1.1.13', '3.0.1.11 (Build 311)', '5.1.5', '2.3.6', '4.1.28165.0716', '99.0.0.35.75', '12.2.4', '1.0.6.8', '3.4.5', '2.5.6', '1.12.5', '4.9', '0.9.4', '1.1.07.6', '1.0.5', '1.2.6', '3.9.2', '3.4.49', '1.5.2', '3.4.6', '1.12.0', '1.7.14', '3.24.1', '18.7', '3.19.005', '4.9.1', '6.1.2', '6.4.4', '3.7.5', '2.6.158', '5.20.7', '4.3.0.508', '10.46.2', '11.1.0', '1.2.287', '3.0.4651', '3.1.4.0', '3.3.0', '2.22.397', '2.0.19', '1.1.7.0', '2.11.3', '1.08', '3.4.3_world', '1.2.12', '6.3.0', '2.3.1', '3.1.0', '4.7.3', '3.16.0', '4.1.0', '6.1.1', '1.7.7', '5.0.12', '4.3.0', '4.2.0.2', '1.01', '2.3.3', '2.4.25', '1.8.9', '37.0.0.7.163', '2.4.1', '5.29.3', '9.8.000000010492', '9.8.000000010501', '2.8.4.201036949', '1.3.4', '11.8.6', '24.6.6', '3.2.0.100171', '47.1.2249.129326', 'R6.0.3', '5.2', '69.0.3497.24', '6.7.9.1', '1.60.0.31354-release', '11.4.0', '2.18.116', '7.5.1', '37.1.206017801.DR37_RC14', '7.5.3.20547', '2.2.7600', '12.8.5.1121', '9.9.0', '42.0.0.2059', '0.1.100944346', '6.1', '3.0.4', '7.3(800241)', '7.73', '4.98', '7.21', '3.47', '6.5.1', '5.65.0', '5.22.18.0006', '1.4.1.0', '2.2', '6.4.0.4', '4.5.1', '5.85.1', '196', '3.0.7', '1.26.001', '3.5.0', '8.1.2-6310', '5.86', '5.1.2-6310', '2018.1.715', '3.9.7', '1.286', '6.19.1', '2.17.3', '2.2.245', '4.5.4', '5.28.0', '5.403', '1.9.4.74', '5.0.9', '9.8.376', '2.3', '3.2.0', '2.3.17', '2.9.8', '7.2.29', '2.6.139', '11.10.1', '2.5.2', '6.1.3', '4.17.2', '3.5.0.1', '2.6.141', '4.19.0.2320', '6.6.5', '1.639', '4.4B', '1.308.us', '5.0.1', '2.45', '4.5.5', '1.2.1', '4.0.18', '1.6.5', '1.31.4', '1.230', '4.1.2', '15.8', '6.3.7', '4.8.5', '6.4.6', '2.3.0.1781', '4.3', '2.9.6', '3.8.75a', '3.0.0', '1.31.3', '1.6.6', '2.0.5', '2.2.0.1748', '3.0.15', '2.4.0', '1.55', '12.0.4', '1.15.0', '6.4.1', '5.2.14', '8.7.2', '1.1.46', '2.8.0', '3.4.1.1', '5.5.7', '1.5.4.0', '4.9.2 (Oasis)', '3.10.5', '2.2.7', '1.17', '3.1.3', '0.0.73', '4.7.6', '5.2.9', '4.3.2', '3.6.3', '4.4.1', '5.16.2', '5.3.3.13289', '5.0.8', '0.1.11', '1.4.0', '2.4', '2.5', '8.2', '4.20', '1.', '2.2.9', '3.52', '5.5.8', '1.0.7', '3.5.4.2.3', '1.1.1', '1.2.9', '2', '1.5-beta', '4.5.0', '3.7', '1.0.2', '4.813', '1.0.82', '4.1', '3.2.5', '5.0.0', '1.94.9', '1.2.8', '1.3.8', '2.1.8', '2.3.7', '2.9.0', '2.16.11.10', '1.2.0', '20.7.2', '2.24', '2.6.2', '2.51.0', '2.2.4', '3.7.0', '10', '2.8.1', '5.0.4', '2.15.1', '3.14.15', '1.10.0', '1.3.0', '4.7.0', '4.5.2', '5.7.2', '3.5.2', '5.5.2', '4.2.8', '7.2.3633', '1.8.1', '7.2.3634', '4.1.3', '2.48', '5.2.1', '0.29.74', '10.9.1', '4.2.3', '2.09', '2.3.9', '13.9.0.161', '3.6.0.115_FN', '8.5.2', '1.12.1', '4.8.2', '15.9.4', '9.12.5', '5.0', '4.21.1', '2.6.6', '1.16', '5.7.0', '2.4.4', '5.7.1', '1.5-play', '1.1.1-play', '1.02', '2.13.5', '3.43.3', '2.05.0010', 'v1.8b22p13', '3.7.3', '4.6.2', '4.0.5', '7.3', '2.6.6.11', '1.1.3.2', '9.1.4', '3.0.231.18141', '2.3.34 Prod', '2.08.78.2', '18.07.0', '3.5.2.2', '2.19.0', '2.9.43', '2.1.1', '6.18.3', '2.9.4', '01.01.66', '4.8.6', '3.1.4', '2.0.8', '11.45.0', '8.0626', '43', '4.18.1', '3.17.2', '3.3.1.41', '4.0.2', '16.0.0.437', '6.6.1', '3.3.1.42', '7.5.0', '4.003.1', '1.0.20', '1.0.64', '2.3.2', '8.1', '7.2.3', '4.2.0.8447', '4.426', '4.1.7', '8.4', '1.57', '1.5.0', '4.2.1', '4.3.6', '2018.07.31229', '4.0.19', '11.1.1', '1.75', '1.107', '16.11.8', '1.14', '1.1.9', '42.0', '2.2.2', '18.4', '1.0.11', '3.05.30.16', 'Cannonau 3.11.11', '8.0bld14', '4.6.0', '20.1.0', '8.18', '10.78', '4.1.1-0-prod', '3.9.0', '5.16.0', '6.5.7', '3.115.27', '2.31.1', '3.0.5', '2.6.0', '1.17.2', '5.10.1.40699', '6.8.0.109', '6.28.0', '5.38.1', '2.7.4', '2.9.12', '3.22.0', '3.22.1', '2.70.206190089', '3.1.6.12', '6.39.1.4', '2.2.12', '2.5.0.26', '6.0.16', '2.29.01', '1.13.2.11', '2.0.4', '2.12.100', '2.53.2', '5.1.1', '1.14.1', '2.5.7', '2.1.4', '1.17.1', '1.4.11', '1.18.0', '3.1.16', '2.9.5', '16.6', '3.2.18.07.30', '1.9.9.9.3', '1.28.0.5402', '4.63', '2.10.3', '3.6.2', '3.04 - Beta', '6.8.2', '1.1.16', '1.1.39', '4.5.2.1', '3.0.22', '6.0.6', '2.131', '4.10.0', '6.0.2', '5.1', '2.34.29', '5.2.203', '8.44.2', '5.9.1.0', '7.8.8', '9.7.0', '6.7.0', '6.29.37589', '5.15.0', '18.6.0.10', '2.12', '3.2.0d', '3.1.5', '4.0.30', '1.9.117', '5.2.2', '7.12', '4.3.3', '6.0.1', '2.14.36', '4.11.1', '3.3.21', '5.3.8', '3.5.5', '3.3.6', '7.9.0.0', '2.1.0', '5.8.5', '3.2.7', '4.26', '1.2.2', '3.6.6', '4.0.0.427', '3.17.1.0', '24.5.0', '1.4.4', '2.0.3', '2.76.2.0-android', '5.7.23', '4.2.6', '9.15.0.2020', '2.6.15', '3.1.14', '2.4.11', '1.161.10002', '11.11.1', '4.11.3', '1.0.14', '5.23', '5.31.75', '1.0.26', 'p5.7.1', '3.0.6', '1.1.22', '18.7.1', '4.0.1', '1.0.12', '2.17.0', '2.6', '6.15.0', '3.401', '6.5.3', '112.0', '5.13.0', '3.48', '2.48.3', '5.3', '5.14.0', '4.4', '10.0', '8.2.0', '7.2.5', '6.2.73', '6.7', '16.0', '7.0', '3.1.9', '2.6.1', '1.29.15', '3.6.4', '2.0.16', '3.22', '7.3.4-play', '2.9.18', '10.24', '37', '5.0.2', '5.5.1', '8.8.14', '3.19.4', '3.3.0(1)', '1.11.4', '4.5.1.123', '10.2.0', '4.9.8.1', 'Public.Heal', '1.31.0-15160.950adac99', '6.3.1', '1.92', '4.8.0', '8.2.0_8', '7.4', '9.8.1.7425', '3.5.9', '9.6.8', '8.2.1', '3.6', '3.10.8', '220.0', '1.04', '3.2.4', '2.4.2', '2.6.0.287', '858', '7.9.0', '4.7.13', '2.0.6.9', '1.22.0', 'v3.1.1', '1.6.1.2', '4.5.15', '1.7.3', '5.20.38', '4.4.2', '1.7.2.10', '6.7.5', '1.02.2018.11', '6.0.0', '1.8', '5.28', '8.0.20180212', '3.00', '5.9.1', '4.2.2', '5.1.2', '5.3.0.54.7', '9.0', '10.19', '5.2.4(881)', '1.0.0.21_180410', '5.8', '4.90', '16.7.1', '3.9.3', '6.2.0', '8.00.775375', '2.4.12-r244', '9.6.3', '10.19.0.0', '2.15', '1.5.1', 'Version:6.97', '1.5.3', '7.0.8', '02.00.06', '5.1.3', '9.4.2', '6.2.1', '3.8.15', '4.35', '5.2.2018010801-1', '2.7.3', '3.9.5', '8.5.1', '2.0.9', '3.1.2.1', '1.6.2', '9.1.0', '2.2.6', '12.1.0', '8.3.3', '5.600.42', '3.1.6', '5.800.04', '3.1.8', '2.347.225742', '1.90.0', '1.129.0.2', '2.137.0', '1.20.1', '1.49.1', '1.4.77', '2.6.9', '2.2.00', '3.8.5.Go', '1.118.4', '10.322.16', '6.6.3', '2.2.3181', '4.0.0', '5.13.007', '4.8.4', '1.4.0.1', '7.9.3', '1.0.16', '2.21.5', '5.66', '3.5', '1.3.7', '2.1.10', '1.37.2', '1.0.27', '5.1.8', '3.7.2.51', '3.7.2', '3196', '1.751', '5423', '1.0.47', '1.21.0', '2.12.5', '4.8.0.132', '1.5.4', '1.7.40', '2.8.2.59', '5.064', '3.3.3179', '1.7.2', '2.10.2', '1.2.7', '3.1.0.226', '0.111.3', '5.200', '1.24', '1.7.0', '1.4.6', '2.0.6', '1.0.1.049', '2.5.0', '2.79.0', '1.3.3', '0.7.0', '1.8.2', '1.4.51', '1.3.1', '3.04.1', '1.1.4', '3.00.11034', '1.9.3', '1.2.5', '1.11.0', '1.8.0.900', '5.6.5', '2.2.3', '4.9.31', '3.6.0', '0.5.4', '1.180271.184729', '1.3.205', '2.1.1.4.0', '1.250.078', '2.0.2', '1.05.20', '3.30.4.83', '2.0081_206', '2.2.1', '2.1.2', '1.2.1.1712080', '2.21.1', '1.13.12', '5.39.1', '5.8.1', '19.1.0', '1.3.15', '2.3.5', '4.6.2.46103', '12.0.4.62276', '1.93', '1.8.225278', '3.0.2', '1.14.0', '1.76', '1.1.8', '1.1.40', '1_39_93', '79.0', '1.9.38', '1.8.20', '1.1.5', '2.11.1', '1.8.4', '108', '3.1.1', '1.1.7', '2.2.8', '0.5.8', '8', '1.15.2', '1.11.2', '4.1.1', '2.6.61', '6.2', '2.11.2', '57.0.8', '2.9.3181', '1.0.109', '3.15', '60', '1.7.04', '1.3.35', '2.5.3182', '1.10.12', '1.4.12', '1.9.3901', '1.49', '1.24.3181', '1.1.6.7', '1.8.3181', '2.0.3165', '1.7.101', '2.2.3169', '1.0.3122', '8.25.10.00', '2.7', '1.2.3-play', '2.3.3122', '3.5.3183', '8.4.3180', '1.73', '2.2.3172', '1.0.89', '2.180723', '1.1.2', '2.0.5.0', '8.25.10.01', '1.6.4', '2.0.7.4', '5.3.11', '7.32', '3.4.0', '10.180530', '149', '1.8.3', '1.180702', '3.2.473.202', '1.221', '1.4.3', '6.7.5222', '1.1.23', '1.28.01', '2.1.6579', '1.47', '1.20.2', '3.2.0h', '2.1.20', '3.49', '37893', '3.200.18289', '1.4.2.1', '1.19', '2.4.9', '18.1', '3.6.1', '3.7.2.7', '2.19.01', '7.5', '1.15.3028.0', '1.6.3028.0', '2.9.7', '1.2.16', '1.19.56.434', '0.1.0', '4.2', '20180609', '2.4.15', '3.3.1', '1.16.5', '18.2', '2.0.7', '3.46', '2.2.54', '1.3.51', '1.38.0', '3.6.17', '7.2.0', '1.35.23', '28.0.14', '6.14.091', '6.4.0', '1.5.2.1', '7.0.1', '3.0.1.0', '6.5.0', '2018.5.47', '19.0', '1.17.0', '7.6.14', '7', '1.10.0.user.pro.release', '4.1.5 (Steglitz)', '7.1.17', '3.4.3', '1.50', '2.29', '4.4.5', '6.0.4', '2.1.35', '5.4.8', '3.19', '1.1.0.0.1487', '3.27.3', '3.25.0', '8.0.226', '5.9.6', '6.02.000', '3.18.2', '7.4.1', '2.11.0', '4.36', '1.0.02', '2.25.0', '3.52.1', '2.1.3', '1.16.0', '25.3.1', '5.11', '1.3.185', '1.7.1 (946)', '4.23.0', '3.8.0', '1.2.3.2', '4.4.7', '2.1.11', '4.3.2.315', '2.6.5', '3.16.4.1669', '2.7.36', '4.9.6', '2.1.0.372', '3.5.7', '1.0.0.10', '4.5.3', '2.7.38', '1.6.17', '3.1-2018 – (13)', '6.6', '2.7.6', '1.830.0.564-(e405bb2)', '10.4.1.018_06', '1.3.5', '300000.1.11', '1.0.10', '2.0.0 (35717)', '2.01.12', '1.2.3-DEBUG', '1.0.72', '2.0.101', '0.1', '5.0.16', '1.0 Super Ear Hearing', 'PN.1.0', '0.1.2', '1.0.51.0.3', '3.4.0.10', '10.4.1.015_05', 'Initial', '1.12', '5.51', '10.4.1.000_00', '4.0.9', '3.0.8', '2.5.0 b665', '0.6.88', '1.0.32', '43.0', '4.4.3', '0.0.1', '1.9.0.0', '1.4.15-free', '2.4.12', '0.1.1', '4.95.4', '2.1.6', '2.6.10', '2.1.3.2', 'T4.6.5-tl2.0.1', '1.8.19179', '13.0', '4.2.4', '4.81', '8.00.752746', '1.23.3.0', '50.2 lite', '4.1.202', '3.10.26', '7.3.1', '3.8.1', '7.0.7', '14.0.13', '7.23.4', '2.69', '4.6.2.0', '1.8.0', '27.0', '10.6.3', '4.18.962.5', '2.16', '5.4.7.1', '16.14.0.850', '4.20.5', '2.25.17', '14.2.1', '16.14.0.100', '11.7.3.0', '10.2.1', '3.8.2.2', '6.3.8', '2.8.7', '4.16.2', '4.26.7', '3.2.6', '4.9.3', '4.7.1', '4.9.5', '3.11.1', '4.7.5', '3.27.1', '7.8.1', '5.3.0', '4.33.0', '6.25.0+1906001476', '29.14', '7.0.14', '4.89', '3.0.3', '5.3.73', '8.9.1', '5.21.1', '7.36', '7.2.1', '2.24.0', '2.124.01', '6.9.2', '18.10.157066', '4.31.2', '3.28.1.3.1359', '9.0.30', '3.13.09', '6.10.0', '3.69.0', '11.6.0', '9.0.0', '6.4.2', '3.9', '5.6.8', '5.3.1', '4.4.9', '13.6.4', '4.16.0', '5.10', '4.4.4', '7.4.2', '5.13.1', '2.18.2', '2.1.9', '584', '9.6.4', '5.0.508', '7.6.5', '1.6.0', '1.8.5', '8.9.9', '1.5.3.8', '22.0', '2.15.180', '6.9.031', '1.2.31', '1.8.0.170824_9', '6.21', '2.73.672', '2.74.685', '1.43.3', '4.0.10', '4.7.4', '3.1.8.180529', '4.0.26', '4.47', '1.43', '6.1.7.100920', '9.3.1', '6.1.6', '1.32', '4.8.7', '3.31.4', '2.2.93', '6.2.9', '1.5.5', '4.6.0.0', '1.4.0_180703', '4.2.14', '4.70', '6.4.3', '6.1.0', '71', '4.1.0.1', '3.3.8', '3.2', '2.0.17.9', '3.8.3', '1.38', '9.40.3', '4.5', '4.21', '6.71', '2.0.18', '2.19.0.201907232', '4.0.7', '1.7.16', '3.3.5', '8.1.0.6', '6.17.2', '10.8.1.330', '4.3.1', '5.4.2', '1004.0', '2.24.2.0', '6.3.3', '3.6.7', '1.5.13', '2.9.9go', '2.7.0', '6.5', '5.5', '12.0', '6.4.8', '1.2.677', '06.11.00', '7.3.0', '3.17.0+3', '5.12.4', '5.10.5', '2.6.3', '4.5.19.56', '5.9', '4.4.0', '1.31.0', '2.0.22', '8.9.3', '4.18.0', '2018.6', '2.46.1', '3.21.324', '7.0.2', '2.5.7.1', '7.1', '2.28.1', '7.8.0', '4.4.15', '7.1.0', '3.2.12', '6.9.12', '3.0.13', '5.5.9', '2017.7.1', '9.4.0', '7.1.7.4', '18.30.0', '10.9.8 (Play)', '5.48', '6.7.1', '1.10.0.205086730', '4.6', '17.4.1', '9.2.17.13', '5.2.0 21127', '5.6.1', '5.10.6.2.8466393', '5.16.1', '4.0.9.1', '10.7.8.111', '4.1.21', '8.13.3', '13.0.16', '4.13.2', '11.0.269 (m)', '2.5.26', '8.60.0.2586', '4.38.176', '6.2.3', '8.8.2', '2.1.56', '5.7.3', '7.3.3', '4.0.21', '11.26', '17.7.8', '9.7.1', '2.32.2', '1.24.5', '53.89.55', '4.15.1', 'v5.4.3', '4.9.2', '18.21.0', '4.0.38', '8.1.171', '3.19.35.999', '1.28.1', '13.8.3', 'v3.7.93', '1.02.53', '3.1.2', '0.2.32', 'MyMetro_HTML_2.0_430029', '7.6.1', 'v8.0.1.8.0629.1', '2.1.02.4477839', '8.1.6', '4.5.28_ww', '1.0.204375696', '1.7.4', 'v7.0.7.1.0625.1_06_0629', '6.0.61.5', '11.7.0', 'v7.0.9.1.0526.1_06_0704', '6.2.6.7', '1.8.203182757.armeabi-v7a.release', '5.36', '9.7.753080', '10.4', '3.1.0.1126', '1.4.9', '3.5.6', '32.1', '2.1.54', '3.1.00', '1.51', '20180517', '4.0.6', '1.6.11', '2.27.1', '2.5.1.7592', 'v150', '4.20.1', '3.4.500', '3.11.2', '4.78.06', '6.06.14', '4.32.07', '5.0.0.8', '1.0.19', '1.33', '6.1.7.5', '1.17.4', 'v3.9f', '3.6.21_pre', '5.34.10', '1.284.1.83', '5.41.0', '2.6.2.1', '1.284.1.126', '2.5.5.9', '1.8.0.24_180511', '4.12.0.44682', '3.3.a', '2.0.0.39_171124', '1.9.1.180419172630.4a15962', '6.7.25.2018', '2.3.27', '40.0', '6.7.24.2018', '1.9.2.180419172639.dbf3246', '6.6.28', '2.11.5', '1.13', '2.60', '5.7.8', '5.7.6', '2.85', '2.41', '4.0.0.7', '4.8.3', '2.7.2', '6.07', '18.0', '1.9.7.07', '2.32', '2.5.9', '4.8.2.2195', '16.0.10325.20043', '4.6.4', '68.0.3440.91', '2.2.194', '16.0.10325.20059', '0.1.187945513', '16.0.10325.20024', '4.1.4', '4.1.8.2.2', '2.1.5', '1.10.0.33_180403', '3.5.12', '2.2.1B216', '8.0.1.0', '3.2.258b ae1da5165', '4.3.2.0', 'v1.39.3', '5.0.44', '1.7.9', '17.7.20', '12.8.2', '9.3.5776', '5.0.1.11068-production', '2.4.5', '2.5.4', '7.3.30', '11.1.3', '4.2.11', '1.35.2', '13.4', '3.4.4.4-GP', '4.3.19', '12.8.2-pi', '1.07.59', '4.0.7.3', '1.0.167', '1.26.2', '2.30.1', '2.3.3-play', '1.9.1.147.0-google', '4.4.0.4', '2.15.2714', '2.9.9', '4.7', '2.04.2714', '2.10', '2.03.2714', '1.5.3.1807', '1.1.27.477-free', '3.7.1', 'FreeTimeApp-aosp_v3.14_Build-1.0.204367.0.13014', 'Natalia Studio Development', '8.9', '1.3.9', '8.1.2', '1.11.93', '30', '12.2.6.3660', 'v7.0.02.3.0516.1_06_0713', '1.3.6', '7.1.12.12', '5.9.7', '7.1.34.28', '9.9.1.1910', '1.3.A.2.9', '3.18.5', '2.9.10', '1.8.4.5', '8.50.935520', '12.2.7.3671', '4.1.11 - Hegoa', '1.0.34', '3.1.7', 'v1.0.3', '17.6', '1.78', '9.7.6', '1.251.54', '7.10.621414', '1.4.08.2', '2.6.71', '6.5.852058', '1.137.22', '9.51.755029', '4.13.3', '6.2.2.17136', '1.32.1', '6.6.4', '2.71', '5.17', '8.2.9', '5.2.5', '5.8.0', '8.3', '3.1.6.9', '5.2.0', '4.2.2254.129147', '6.7.3', '9.1', '8.0.6', '4.11.0.611033', '18.201.01', '1.9.0', '5.6.40', '3.12.0', '3.0.42', '3.53.2', '4.1.0.72', '3.000.1', '5.38', '4.4.2.19', '2.42.1.9', '6.5.1725', '6.19.5', '3.5.13', '3.4.4', '5.9.1.1347176.a3ca6ab274', '3.19.11', '16.3', '19.2.8', '9.2.3', '5.1.10', '3.1.12', '1.8.7.0', '6.7.15.7', '17.4.11', '4.8.1', '5.7', '3.2.2', '116', '18.0.2', '2.10.06', '04.08.00', '5.1.0 free', '1.39', '7.16.8', '5.44.1', '5.2.10', '5.4 (30)', '4.76', '5.072.1830.2', '9.3.3', '8.10.1', '1.2.1.49', '6.5.2', '8.6', '1.3.13', '5.4.4', '4.0.4', '3.0.11', '0.81 beta', '9.3.6', '3.7.1a', '1.16.2', '1.9.8.0', '1.19.1', '1.0.21', '1.58', '1.0.17.2', '4.5.19', '2.0.3.1', '2.8.0.17', '1.10', '8.0.0', '7.1.1', '4.0.3.5', '2.16.5426', '1.18.2', '1.1.11.11', '4.94.19', '1.05', '15.1.2', '1.5.9', '1.0.17.3905', '0.8.17', '1.5.10', '1.1.7.4', '0.19.13-SPECTRUM', '0.9.10.f96', '27500000', '8.3.4', '4.1.07', '3.2.8', '2.2.3.3', '2.35.8', '7.1.8', '1.7.110758', '2.6.7.487220', '1.7.1.3', '1.52', '4.5.0.10701.GP', '7.7.9', '4.2.133', '1.2.115', '10.23.2-964159b', '1.35', '1.078', '3.0.58', '1.09', '4.9.18', '5.3.5.16', '1.0.988', '17.4.0014017', 'version 0.994', '3.0.0fr', '2.5.1.7594.psb', '1.5.8', '1.4.large', '1.640', '1.91', '1.4.1(0629A)', '3.0.20', '14.6', '2.23', '3.1 Release b2', '2.14', '5055.524.5', '16.7', '1.0-build20170819', 'a.2', '3.5.3', '10.0.3148', '2.5.6.11', '1.11', '2.277.0', '5.26', '2.44', '1.12.5.1', '1.5.1-GP', '2.3.1.8', '1.279.13.98', '3.8.2', '0.4.4', '1.7.2992', '5.9.0', '9.14.1', '9.2.0', '31', '1.8.19106', '4.1.10', '3.0.12', '3.0.57', '1009001', '3.01', '1.53', '5.206', '2.1.0.2173', '1900001', 'v8[1.0.10]', '2.4.8', '3.25.3', '7.46', '2.2.1.3', '1.42', '23.0', '9.55', '1805.0618.1637', '3.6.0.28', '3.5.1.8', '1.2703.273', '4.0.55', '1,01', '2.18', '3.1.0.1-r4', '3.8.8', '3.4', '2.07', '7.0.4', '32', '0.1.22', '1.00.02', '3.42', '15.6', '1.0.28', '1.00.00', '1.0.1.24', '1.80.03', '6.1.7', '1.64', '0.54.2.4', '0.11', '8.3.2', 'v2018.Apr.12.16', 'v2018.May.15.14', '5.0.109', 'H7SubTV0.1_TV0.4', '1.2.A.Exceed.Paid', '1.0.B+.Exceed.Paid', '0.9.3', '4.0.8552', '12', '4', '2.244', '1.0.100rc1.withoutKeysync', '3.4.1', '1.1.2.1', '2.0.13', '3.49.0202', '1.0.2.1', '1.8.3111', '7.3(823181)', '1.10.4', '2.100', '1.6.3', '3.002', '1.1 Build 226', '2.03', '1.22', '1.1.06', 'v2', '1.574', '1.1.52', '1.0.98_ww', '2.31', '12.6', '3.5.02.15', '1.07', '2.1.0.032', '9.5.0', '1.36', '5.9.0.0031', '0.1.5', '1.1.50', '2.40', '10.1.1', '1.0.2-alpha4', '1.5.2.4-23', '1.5.13-3598', '1.06', '1.0.4.3', '8.8', '0.16', '2.15.1.4', '1.1.6.1', '5.1.0', '263.16.29', '3.04', '1.2.6 (94)', '1.1.47', '1.0.24', '1.1.6.6', '1.4.1', '4.2.17', '2.0.40', '4.16.10', '2.8.4', '1.0.3386', '1.1.4.38', '6.1.5', '1.0.144431', '7.5.9', '1.23.0', '1.2.3.4.5', '2.0.0.11', 'v1.0.50', '6', '1.1.0.0402', '1.935', '5.9.4.0', '3.8.5', '1.7.11', '1.6.22', '1.9.1.013', '3.1.50', '2.400.022', '65.0', '4.01.00', '4.54', '1.18', '2.92', '3.11', '1.62', '1.4.7', '1.091', '5', '3.3.8.03082017', '2.29.2', '2.4.0.7', '1.25.0', '2.94', '6.11.4', '1.77', '5.6.2 (US)', '0.1.219', '1.0.208', '1.26', '1.0.6.4', '3.11.0', '02.02.0045', '1.60', '4.2.45', '1.7.6', '1.25', '1.8.7', '4.16', '1.23', '1.21.1', '3.39.0', '3.0.27430.4799', '4.9.0', '1.1.0.0', '2.01', '4.17.82', '1.5.12', '5.1.9', '2.7.0621', '1.0.0.9', 'acremotecontrol18', '1.2.84', '1.0.18', 'v67_slk3.0_20180115_01', '2.1.20180804_01', '0.0.2', '1.3 acremotecontrol', 'airConditionerMaintenance_13112015', 'v1.1072.35.0', '0.8', '3.8.4', '11;11.26', 'acremotecontrol-v7', '1.5.14', '7.1.4', '4.34.0', '3.3.270', '1.0.52', '2.13.2', '25', '5.6.0', '1.1.4.1296', '2.0.1027', '2.0.131112', '1255162018', '1.8.6', 'v1.0', '0.0.3', '2.12.0', '11.0.0', 'v4.29.0.9', '117', '1.8.2.7', '8.3.0', 'cli-6.5.0', 'v2.7.11.6', 'v2.7.10.6', '1.5.1.182070924', '5.3.4', '8.05.18.14250', '2.7.8', '1.3.0.6', '9.0.00', '1.24.1', '5.26.0', '3.1.10', '30.0.0', '2.4.3', '300000.0.95', '300000.0.98', '3.5.1', '300000.0.97', '300000.0.85', '300000.0.91', 'Version 1.20', '300000.0.78', '300000.0.94', '300000.0.80', '300000.0.90', '2.26.5.0', '300000.0.81', '300000.0.79', '300000.0.93', '300000.1.08', '300000.0.96', '300000.0.86', '1.5.062', '300000.0.84', '300000.1.01', '1.5.49', '1.1.9.1', '132', '20', '4.435', '1.2-Release', '0.33', '10001008', '3.4.23', '2.0.949', '1.3.1-lite', '11.04', '0.0.52', 'closed', '1.5.6', '1.10.5', '2.13.0.65', '1.6.3.1', '18060104', '1.0.59', '5.62.1', '1.0.0.0', '2.1.9f0', '0.46.91', '568', '39.231', 'newversion', '5.3.2', '1.0.0.1', '666', '2.0.1.966', '3.4.4.3.3', '3.7.10-0d44b899', '6.0.3', '3.2.3', '5.29.77 Domain 427', '2.6.22', '10.10', '2.1.7.3', '2.9.1', '2.137', '1.0beta', '1.4.5', '1.7.22', '1.54', '2.8.307', '5.0.108', '1.2.2_comAds', '3.4.8', '1.4.3.104', '1.34.1', '2.11', '7.2', '2.8.7.78579', '6.2.6', '1.23.1.2', '1.2.97.3042', '2.29.3118', '1.9.22', '4.0.14', '2.59.8', '1.3.6.4', '1.42.2', '8.0.0130', '1.6.7.1', '1.2.2.0', '13', '3.0.188', '2.003', '1.3.14', '1.0.103', '6.4', '1.0.0.4', '3.30', '1.10.1', '1.0.63', '3.1.6z', '2.1.22', '1.7.0m', '0.5.10011', '1.10.6', '3.1.2b', '3.0.5.2', '3.6.1a', '1.375', '1.2.3.1', '1.1.0.3', '1.5.341', '0.46.0', '1.131.2', '1.12.0.1654', '1.7.5', '4.70.30', '1.2.2.122', '0.8.6', '2.25', 'v3.4.0-3', '5.1.13', '7.8', '20180608', '20180620', '1.0.0.8', '1.11.39', '5.17.2.009', '3.1.0 (build 1210)', '18.6.2', '4.05', 'Z (Special Edition R9)', '1.85', '5.9.006', '1.8.0716', '1.8.0502', '2.47.2', '5.06', '1.35.1', '7.0.0', '1.00.33', '

List of Current_ver unique values we can't fill the nan values in this column because Apps are having different values in versions too not in particular sequential increasing order.

In [223]:
current_version_nan=list(play_store_df[play_store_df["Current_Ver"].isnull()]["App"])
for i in range(len(current_version_nan)):
  print(play_store_df[play_store_df['App']==current_version_nan[i]])

                                App        Category  ...  Current_Ver  Android_Ver
15  Learn To Draw Kawaii Characters  ART_AND_DESIGN  ...          NaN   4.2 and up

[1 rows x 13 columns]
                       App            Category  ...  Current_Ver  Android_Ver
1354  Market Update Helper  LIBRARIES_AND_DEMO  ...          NaN   1.5 and up

[1 rows x 13 columns]
                         App Category  ...  Current_Ver  Android_Ver
5863  Virtual DJ Sound Mixer    TOOLS  ...          NaN   4.0 and up

[1 rows x 13 columns]
            App Category    Rating  ...  Last_Updated  Current_Ver Android_Ver
6337  BT Master   FAMILY  4.191153  ...    2016-11-06          NaN  1.6 and up

[1 rows x 13 columns]
              App Category  Rating  ...  Last_Updated  Current_Ver Android_Ver
6864  Dots puzzle   FAMILY     4.0  ...    2018-04-18          NaN  4.0 and up

[1 rows x 13 columns]
                  App Category    Rating  ...  Last_Updated  Current_Ver Android_Ver
6938  Calculate My IQ   FAMILY  4.191153  ...    2017-04-03          NaN  2.3 and up

[1 rows x 13 columns]
         App Category    Rating  ...  Last_Updated  Current_Ver Android_Ver
7260  UFO-CQ    TOOLS  4.047411  ...    2016-07-04          NaN  2.0 and up

[1 rows x 13 columns]
                 App             Category  ...  Current_Ver  Android_Ver
9860  La Fe de Jesus  BOOKS_AND_REFERENCE  ...          NaN   3.0 and up

[1 rows x 13 columns]

Only 8 values are there so we will remove as this data is less than .001% of data.

In [227]:
# Checking null values in Android Version
play_store_df[play_store_df.Android_Ver.isnull()]

                         App         Category  ...  Current_Ver  Android_Ver
3998  [substratum] Vacuum: P  PERSONALIZATION  ...          4.4          NaN
4035    Pi Dark [substratum]  PERSONALIZATION  ...          1.1          NaN

[2 rows x 13 columns]

Only 2 null values.

In [228]:
play_store_df[play_store_df.App=="Pi Dark [substratum]"]

                       App         Category  ...  Current_Ver  Android_Ver
4035  Pi Dark [substratum]  PERSONALIZATION  ...          1.1          NaN

[1 rows x 13 columns]

In [229]:
play_store_df[play_store_df.App=="[substratum] Vacuum: P"]

                         App         Category  ...  Current_Ver  Android_Ver
3998  [substratum] Vacuum: P  PERSONALIZATION  ...          4.4          NaN

[1 rows x 13 columns]

We don't have different versions of these application so we will fill them with most used android version in that particular Year manually.

In [230]:
# Making a new column named Year
play_store_df["Year"]=play_store_df.Last_Updated.dt.year

In [231]:
play_store_df[play_store_df.Year==2018]['Android_Ver'].value_counts()

4.1 and up            1876
Varies with device    1056
4.0.3 and up          1013
4.0 and up             774
4.4 and up             748
5.0 and up             493
4.2 and up             294
2.3 and up             182
4.3 and up             175
3.0 and up              61
2.3.3 and up            58
6.0 and up              45
7.0 and up              39
2.1 and up              27
2.2 and up              24
5.1 and up              16
3.2 and up              11
1.6 and up              10
4.4W and up              9
8.0 and up               6
2.0 and up               5
4.0.3 - 7.1.1            2
7.1 and up               2
5.0 - 8.0                1
1.5 and up               1
2.0.1 and up             1
5.0 - 7.1.1              1
7.0 - 7.1.1              1
1.0 and up               1
Name: Android_Ver, dtype: int64

Android version 4.0 and above is mostly used in Year 2018 so we will fill null values with "4.1 and up".

In [232]:
play_store_df['Android_Ver'].fillna("4.1 and up", inplace=True)

In [233]:
# Dropping all the records where null values are there 
play_store_df.dropna(inplace=True)

In [234]:
play_store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10349 entries, 0 to 10356
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10349 non-null  object
 1   Category        10349 non-null  object
 2   Rating          10349 non-null  float64
 3   Reviews         10349 non-null  int64
 4   Size            10349 non-null  float64
 5   Installs        10349 non-null  object
 6   Type            10349 non-null  object
 7   Price           10349 non-null  float64
 8   Content_Rating  10349 non-null  object
 9   Genres          10349 non-null  object
 10  Last_Updated    10349 non-null  datetime64[ns]
 11  Current_Ver     10349 non-null  object
 12  Android_Ver     10349 non-null  object
 13  Year            10349 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(8)
memory usage: 1.2+ MB

No null values are there in our Dataframe.

In [235]:
play_store_df.describe(include="all")

           App Category  ...  Android_Ver          Year
count    10349    10349  ...        10349  10349.000000
unique    9651       33  ...           33           NaN
top     ROBLOX   FAMILY  ...   4.1 and up           NaN
freq         9     1940  ...         2381           NaN
first      NaN      NaN  ...          NaN           NaN
last       NaN      NaN  ...          NaN           NaN
mean       NaN      NaN  ...          NaN   2017.383612
std        NaN      NaN  ...          NaN      1.112144
min        NaN      NaN  ...          NaN   2010.000000
25%        NaN      NaN  ...          NaN   2017.000000
50%        NaN      NaN  ...          NaN   2018.000000
75%        NaN      NaN  ...          NaN   2018.000000
max        NaN      NaN  ...          NaN   2018.000000

[13 rows x 14 columns]

In [237]:
# Cleaning user reviews dataframe
user_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [238]:
user_reviews_df.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

We will check for the null values wether they have common index or not and removing those null values.

In [240]:
sentiment_isnull_index=user_reviews_df[user_reviews_df.Sentiment.isnull()].index
sentiment_polarity_isnull_index=user_reviews_df[user_reviews_df.Sentiment_Polarity.isnull()].index
sentiment_subjectivity_isnull_index=user_reviews_df[user_reviews_df.Sentiment_Subjectivity.isnull()].index

In [241]:
if sentiment_isnull_index.all() == sentiment_polarity_isnull_index.all():
  print("All indexs are common in sentiment_isnull_index and sentiment_polarity_isnull_index")
if sentiment_isnull_index.all() == sentiment_subjectivity_isnull_index.all():
  print("All indexs are common in sentiment_isnull_index and sentiment_subjectivity_isnull_index")

All indexs are common in sentiment_isnull_index and sentiment_polarity_isnull_index
All indexs are common in sentiment_isnull_index and sentiment_subjectivity_isnull_index

In [242]:
user_reviews_df.drop(sentiment_subjectivity_isnull_index, inplace=True)

In [243]:
user_reviews_df.describe(include="all")

               App  ... Sentiment_Subjectivity
count        37432  ...           37432.000000
unique         865  ...                    NaN
top     Bowmasters  ...                    NaN
freq           312  ...                    NaN
mean           NaN  ...               0.492704
std            NaN  ...               0.259949
min            NaN  ...               0.000000
25%            NaN  ...               0.357143
50%            NaN  ...               0.514286
75%            NaN  ...               0.650000
max            NaN  ...               1.000000

[11 rows x 5 columns]

Dropped the common indexes.

### Play Store dataset contains following columns and their information:
1. App: Application name
2. Category: Category to which the app belongs (34 available)
3. Rating: Rating of the app (0 - 5)
4. Reviews: Number of reviews of the app available (Discrete)
5. Size: Size of the app in MB (Discrete)
6. Installs: Number of times the app has installed (Multi categorical)
7. Type: Free or Paid
8. Price: Price of the app
9. Content Rating: Whether it is for adults, teenagers etc. based on age(6 available)
10. Generes: Genere of the app
11. Last Updated: Last Update date
12. Current Ver: Current version of the application in playstore
13. Android Ver: Android version of the application

### User Reviews dataset contains following columns and their information:
1. App: Application name (duplicates present depending upon number of reviews present).
2. Translated_Review: Translated Reviews of that application.
3. Sentiment: Sentiment of the Review whether positive, negative or neutral.
4. Sentiment_Polarity: Polarity of the sentiment -ve vs +ve (-1 to +1).
5. Sentiment_Subjectivity: Sentiment is near to application subject subjective vs objective(0 - 1).

In [247]:
print("Play store dataframe shape:",play_store_df.shape,"\nUser reviews dataframe shape:",user_reviews_df.shape)

Play store dataframe shape: (10349, 14)
User reviews dataframe shape: (37432, 5)